---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/Search";
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const searchList = entries.items.map(item => {
  const { blogTitle, blogContents, description, slug } = item.fields;
  return {
    title: blogTitle,
    postSlug: slug,
    description,
    contents: blogContents,
  };
});
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="検索" pageDesc="記事を探す">
    <Search client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
